# Compiled Object files
*.slo
*.lo
*.o
*.xcodeproj
*.pbxproj
FaceRecognizer.xcodeproj/
*.exe

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual studio files

FaceRecognizer/FaceRecognizer/Debug/
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj
*.filters
*.user
*.pdb
*.idb
*.obj
*.tlog
*.log
*.ilk
*.exe
