# Compiled Object files
*.slo
*.lo
*.o
*.xcodeproj
*.pbxproj
FaceRecognizer.xcodeproj/
*.exe
FaceRecognizer/trainingModel/
FaceRecognizer/testingFiles/
BaseApp/BaseApp/
BaseApp/thirdparty/
BaseApp/vc10/
BaseApp/BaseApp.xcodeproj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual studio files

FaceRecognizer/FaceRecognizer/Debug/
FaceRecognizer/Debug/
FaceRecognizer/FaceRecognizer/
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj
*.filters
*.user
*.pdb
*.idb
*.obj
*.tlog
*.log
*.ilk
*.exe
