# Compiled Object files
*.slo
*.lo
*.o
*.xcodeproj
*.pbxproj

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual studio files

*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj
*.filters
*.user
*.pdb
*.idb
*.obj
*.tlog
*.log
*.ilk
*.exe